/chunk-KVRWDQZT.js
/chunk-KVRWDQZT.js.map
/chunk-LGRQKHVD.js
/chunk-LGRQKHVD.js.map
/chunk-WFTEJBJX.js
/chunk-WFTEJBJX.js.map
/face-api__js.js
/face-api__js.js.map
/index.html
/package.json
/react-dom.js
/react-dom.js.map
/react-dom_client.js
/react-dom_client.js.map
/react.js
/react.js.map
/react_jsx-dev-runtime.js
/react_jsx-dev-runtime.js.map
/react_jsx-runtime.js
/react_jsx-runtime.js.map
/Student profile webpage.md
/_metadata.json